._navbar{
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 8px 40px;
  justify-content: space-around;
  z-index: 1500;
}

._navbar img{
  width: 300px;
}

// .navbar {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   padding: 20px;
// }

// .right-item {
//   order: 1; /* This makes the logo appear first on the left */
// }

// .left-items {
//   display: flex;
//   gap: 10px; /* Add spacing between the links */
// }

// .left-items a {
//   text-decoration: none;
//   color: black;
// }
